# Node modules and logs
node_modules
npm-debug.log
yarn-error.log

# Dependency directories
dist
build

# Python virtual environments
venv
__pycache__
*.pyc

# System files
.DS_Store
Thumbs.db

# Git and other VCS files
.git
.gitignore

# Docker files
Dockerfile*
docker-compose.yml

# Miscellaneous
.env
