.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
  }
  
  .navbar-logo a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li {
    display: flex;
    align-items: center;
  }
  
  .navbar-links a, .navbar-links span {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    
  }
  
  .navbar-links button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-family: Arial, sans-serif;
  }
  
  .navbar-links button:hover {
    background-color: #e55d00;
  }
  