/* OrdersPage.css */

.orders-page {
    display: flex;
    flex-direction: column;
    font-family: 'Arial, sans-serif';
  }
  
  
.orders-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    font-family: Arial, sans-serif;
  }
  
  .orders-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    font-family: 'Arial, sans-serif';
  }
  
  .orders-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .orders-container li {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background: #f9f9f9;
  }
  
  .orders-container li p {
    margin: 5px 0;
    color: #555;
  }
  
  .orders-container li p strong {
    color: #333;
  }
  
  .orders-container .no-orders {
    text-align: center;
    color: #000000;
    font-family: Arial, sans-serif;
    margin-top: 20px;
  }

  .no-orders p{
    font-family: Arial, sans-serif;
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  .footer p {
    margin: 0;
    color: white;
    font-size: 0.9em;
    padding: 5px;
  }
  